@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-somnia-surface text-slate-900 antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}
