SOMNIA_RPC_URL=https://rpc.somnia.network
SOMNIA_STREAM_ADDRESS=0xYourSomniaStreamWriter
SOMNIA_SCHEMA_ID=0xYourSchemaId
NEXT_PUBLIC_TELEGRAM_BOT_URL=https://t.me/somnia_alerts_bot
NEXT_PUBLIC_REFRESH_INTERVAL_MS=60000
